:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949;
    --primary-color: #0232c2;
    --secondary-color: #0452ff;
    --inverted-primary-color: #edeeff;
    --inverted-secondary-color: #b9bbc9;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgb(0 0 0 / 20%);

    // code
    --code-bg: #fff;
}
