.app_pink_theme {
    --bg-color: #faf4fb;
    --inverted-bg-color: #9724c0;
    --primary-color: #4635a1;
    --secondary-color: #3a2e85;
    --inverted-primary-color: #dbd5dc;
    --inverted-secondary-color: #faf4fb;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgb(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #d5d5d7;
}
