.app_pink_theme {
    --bg-color: #faf4fb;
    --inverted-bg-color: #9724c0;
    --primary-color: #311e9f;
    --secondary-color: #271883;
    --inverted-primary-color: #dbd5dc;
    --inverted-secondary-color: #faf4fb;
}
