.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    padding: 10px;
}

.NavbarRedesigned {
    padding: 16px;
}

.appName {
    width: var(--sidebar-width);
}
